extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  a(href="/next") Next 
  a(href="/prev") Prev 
  br
  br
  a(href="/pause") Pause 
  a(href="/play") Play 
  br
  br
  a(href="/setPlaylist") SetPlayList

